# Python Fundamentals

## Language overview

Note: this is *not* a language course! You are expected you to master the language in your own time.

Python ...

- is *interpreted*
- is *dynamically-typed* (vs. statically typed)
- is *automatically memory-managed*
- supports *procedural*, *object-oriented*, *imperative* and *functional* programming paradigms
- has a single reference implementation (CPython)
- version 3 (the most recent version) is *not backwards-compatible* with version 2, though the latter is still widely used
- has an interesting programming philosophy: "There should be one — and preferably only one — obvious way to do it." (a.k.a. the "Pythonic" way) — see [The Zen of Python](https://www.python.org/dev/peps/pep-0020/)

## Variables, handling Strings etc

In [ ]:
print("Hello world!")
print("What is your name: ")
name = input("What is your name: ")
print("Nice to see you:", name, sep="*****")
print("Nice to see you: " + name)
print(f"Nice to see you: , {name}")
print('')
print('', end="&&&&&")
#print("")
print("Actually "+ name + " is my \"friend\"")
print('Actually '+ name + ' is my "friend"')

Hello world!
What is your name:

In [ ]:
# print function 
print(*object, sep='', end='\n', file=sys.stdout, flush=False)

In [ ]:
name = input("What is your name: ")
name = name.strip()
name = name.capitalize()
name = name.title()
print(name)
myName = input("What is your name? ").strip().title()
print(myName)

### Comment in Python

In [ ]:
# this is comment 1
# this is comment 2
"""
Comment line 1
Comment line 2
Comment line 3

"""

In [ ]:
x = 50
y = 20
z = x + y
print(z)

#x = int(input(" x = "))
#y = int(input(" y = "))
#z = x + y
#print(z)

x = input(" x = ")
y = input(" y = ")
z = int(x) + int(y)
print(z)

x = float(input(" x = "))
y = float(input(" y = "))
z = x + y
print(z)

round(number[, ndigits)

In [ ]:
x = float(input(" x = "))
y = float(input(" y = "))
z = round(x/y, 3) // ceil, floor
print(z)
print(f"{z:.2f}")

In [ ]:
x = int(input(" x = "))
y = int(input(" y = "))
z = x * y
print(f"{z:,}")

## Selection statements

## Functions

*A function is like a miniprogram within a program*
*methods*

def name(parameters):
    statements

In [ ]:
def main():
    myName = input("Enter your name: ")
    hello()
    
def hello():
    print("Hello world")
    print("Hello world")
    print("Hello world")

main()
#hello()

In [ ]:
## Demonstrate the scope of variables.
def main():
    x = 2
    print(str(x) + ": function main")
    trivial()
    print(str(x) + ": function main")

def trivial():
    x = 3
    print(str(x) + ": function trivial")

main()

### Question: Write a function that calculates a cube of a given value.

In [ ]:
def main():
    value = int(input("Enter the value: "))
    print(value, " to power 3 = ", cubed(value), sep="" )
    
def cubed(n): # parameter or argument
    return n * n * n # n ** 3, pow(n, 3)

main()

## Control Statements

### whole ... statement

Syntax:

while condition:
  statements

In [ ]:
# example:
count = 1
while (count < 10):
    print("hello whole")
    if count == 5:
        break
    count = count +1

In [ ]:
# example:

while True:
    print("hello whole")
    stopper = int(input("Enter 0 to stop "))
    if stopper != 0:
        continue
    print("hello whole")

### for ... loop

How can we write a "for" or "while" loop that prints out all the multiples of 3 down from 100 to 0 in descending order?

In [ ]:
for i in reversed(range(100)):
    if i%3==0:
        print(i)

### Multiplication table example.

In [ ]:
def main():
    multiplier(12)
    
def multiplier(size):
    for i in range(1, size+1):
        for j in range(1, size+1):
            print(f"{str(i*j):>4}", end="")
        print()
        
main()

## Python Data Structures

### Python Data Structures are grouped into the following categories.
1. Text Type: str
2. Numeric Types: int, float, complex
3. Sequence Types: list, tuple, range
4. Mapping Type: dict
5. Set Types: set, frozenset
6. Boolean Type: bool
7. Binary Types: bytes, bytearray, memoryview
8. None Type: None

### List
General purpose and widely used data structure, grow and shrink size, sequence type, sortable, mixed types, ordered but can be changed, duplicate entries are present.

In [1]:
# students = [] 
for i in [0, 1, 2, 3]: # list
    print("mooooo")

mooooo
mooooo
mooooo
mooooo

In [2]:
students = ["John", "Joe", "Jacob", "Job"]

for student in students:
    print(student)

John
Joe
Jacob
Job

In [4]:
print(students[0])
print(students[1])
print(students[2])
print(students[3])

John
Joe
Jacob
Job

In [ ]:
a = 5j # complex
type(a)
lst = [] # list
tp = () # tuple
str1 = 'John' # string
str1.upper() # change to uppercase
name = 'z' # character
print(str1[1:]) # print from index 1 till the end
lst.append()
lst.insert(4, 49)
lst.reverse()
n = 3<4 # n = True
int(n) # bool
myset = {1, 'John'}
fruits = {'mango', 'banana'}
fruits = {'mango', 'mango', 'banana'} # sets do not permit duplicates - this is a set of only 2 members.
Len()
dt = { 1: 'mangoes', 2: 'bananas'} # this is a dict, notice difference between sets and dictionary

In [2]:
str1 = 'John'
print(str1[-1:])

n

### Range

In [ ]:
# Try out the following lines
range(10)
list(range(10))
list(range(2, 10, 2))
type (range (10) )

In [9]:
for s in range(len(students)):
    print(s+1, students[s], sep=" - ")

1 - John
2 - Joe
3 - Jacob
4 - Job

In [10]:
if "Job" in students:
    print("Yes he is.")
else:
    print("Nope")

Yes he is.

### Dictionary

In [19]:
# dictionary = {keys: values}
#students = {} # empty dictionary
students2 = {
    "Okello": "Gulu",
    "Kizito": "Mukono",
    "Onyango": "Tororo",
    "Mbabazi": "Rukungiri"
}

In [21]:
for student in students2:
    print(student, students2[student], sep=" - ")

Okello - Gulu
Kizito - Mukono
Onyango - Tororo
Mbabazi - Rukungiri

In [22]:
for student in students2:
    print(student)

Okello
Kizito
Onyango
Mbabazi

In [ ]:
###################
# SN  Name    District     Field
# 0   Okello  Gulu         Engineering
# 1   Kizito  Mukono       Business
#
#

In [29]:
persons = [
    {"name": "Okello", "district":"Gulu", "field": "Engineering"}, 
    {"name": "Kizito", "district":"Mukono", "field": "Business"}, 
    {"name": "Onyango", "district":"Tororo", "field": "Agric"}, 
    {"name": "Mbabazi", "district":"Rukungiri", "field": None}
]
for person in persons:
    print(person["name"], person["district"], person["field"], sep=",")

Okello,Gulu,Engineering
Kizito,Mukono,Business
Onyango,Tororo,Agric
Mbabazi,Rukungiri,Education

In [ ]:
d = {"james": "samsung", "jacob": "iPhone", "Richard": "Techno"}

In [ ]:
# try out the following line.
d
d.keys()
d.values()
d["jacob"]
d.get("Richard")